#sketch-board {
  background-color: salmon;
  width: 800px;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid black;
}

.tile {
  background-color: aqua;
  box-sizing: border-box;
  border: 2px solid black;
  transition-duration: 5s;
}

.tile.hover-over {
    background-color: red;
    transition-duration: 0s;
}