#sketch-board {
  background-color: salmon;
  width: 800px;
  /* height: 800px; */
  display: flex;
  flex-wrap: wrap;
  border: 2px solid black;
}

.tile {
  background-color: aqua;
  box-sizing: border-box;
  width: 200px;
  height: 200px;
  padding: 5px;
  border: 2px solid black;
}
